* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-center {
    display: flex;
    width: 90vw;
    align-items: center;
    justify-content: space-between;
    margin: 10px auto;
    padding: 20px;
    color: rgb(34, 70, 102);
    border: 2px solid #333;
}

.nav-center h4 {
    margin-left: 20px;
}

.nav-links {
    display: flex;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-links a:hover {
    color: white;
    background-color: #333;
}

main {
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.container {
    text-align: center;
    color: #333;
}

.container h2 {
    padding: 1rem;
}

.btn {
    color: #333;
    border: 2px solid #333;
    text-transform: uppercase;
    background: transparent;
    display: inline-block;
    font-weight: 700;
    font-size: 1rem;
    padding: 0.75rem 1.25rem;
}
